<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<form>
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
    </div>
    <div>
        <label for="remember">Remember Me</label>
        <input id="remember" type="checkbox" name="remember">
    </div>
    <input type="submit" formmethod="post">
</form>
</body>
</html>