{% extends "base.html" %}
{% block title %}{{ room.title }}{% endblock %}
{% block header_nav %}
<a class="hnav" href="{{ url_for('lobbies.lobby', lobby_id=lobby) }}">Lobby</a>
{% endblock %}
{% block content %}
<div>
    <h1>Games</h1>
    <button onclick="window.location.href='{{ url_for('rooms.create_game', room_id=room.uuid.hex) }}'">
        Make New Game</button>
    {{ games.format()|safe }}
</div>
<div>
    <h1>Matches</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Players</th>
            <th>Mode</th>
            <th>Map</th>
            <th>Result</th>
            <th>Network</th>
            <th>Imposters</th>
            <th>Panda Count</th>
        </tr>
        {% for match, count in match_counts %}
        <tr>
            <td><button>{{ match.title }}</button></td>
            <td>{{ count }}/{{ match.players }}</td>
            <td>{{ match.mode }}</td>
            <td>{{ match.map }}</td>
            <td>{{ match.result }}</td>
            <td>{{ match.network }}</td>
            <td>{{ match.imposters }}</td>
            <td>{{ match.panda_count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
    <h1>Players</h1>
    {{ player_stats.format()|safe }}
</div>
<div>
    <h1>Colors</h1>
    {{ color_stats.format()|safe }}
</div>
<div>
    <h1>Correlations</h1>
    {{ correlations.format()|safe }}
</div>
{% endblock %}